* {
  margin: auto;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #f5f5f5;
}

h2 {
  font-family: 'Nunito', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #aaa;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 40px auto 0 auto;
  color: #D5D5D5;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}
li {
  list-style: none;
  text-decoration: none;
}
a {
  padding-left: 5px;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}
p {
  padding-bottom: 10px;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}
header {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 16px;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: 0 7px 7px -4px rgba(0, 0, 0, 25%);
  z-index: 1;
}
main {
  background-color: #222;
  padding-top: 120px;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul li a{
  color: #ACBFE3;
  text-decoration: none;
}
a:visited {
  color: #556788;
}
a:hover {
  text-shadow: 0 0 10px rgb(141, 141, 141);
}
p {
  color: #D5D5D5;
}
#about {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px;
}
.about_me__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: 153%;
  background-position: 45% 33%;
  background-repeat: no-repeat;
  background-image: url('./assets/me.jpg');
  flex-shrink: 0;
}
.about_me__description {
  max-width: 500px;
}
.about_me__text.text_title {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #d5d5d5;
}
.about_me__text {
  
  font-size: 16px;
  color: #aaa
}

#contacts {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 10px 50px;
}
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  gap: 10px;
  padding: 50px;
}
.contacts__list > li {
  flex-basis: 25%;
}
.contact__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  min-width: 200px;
  background-color: #333;
  box-shadow:  0 0 25px 0 rgb(0 0 0 / 50%);
  border-radius: 30px;
  padding-bottom: 15px;
}
.contact__item p,
.contact__item a {
  font-size: 10px;
}
.contact__item h4, 
#skills__hard h4 {
  font-size: 16px;
  margin-top: 15px;
}
.contacrs__text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
}
.contacrs__text span {
  color: rgb(194, 185, 144);
}
.contacrs__text p {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #D5D5D5;
}
#skills__hard,
#works {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
#skills__hard h4 {
  margin: 5px;
}
#skills__hard li {
  height: 140px;
  align-items: flex-start;
  padding-left: 10px;
  
}
#code__example {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task {
  flex-basis: 30%;
}
.code__example {
  color: #aaa;
  font-size: 10px;
}
code {
  border-radius: 30px;
}
.works__collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.works__collection div {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
}
.portfolio {
  position: relative;
  content: "";
  height: 140px;
  width: 250px;
  display: block;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
  margin: 15px auto;
}
.portfolio:hover {
  opacity: 1;
  transform: scale(1.2);
}
.education__text a,
footer a {
  color: #ACBFE3;
  text-decoration: none;
}
#education {
  margin: 50px 50px;
}
#language {
  margin: 50px 50px 0 50px;
  padding-bottom: 40px;
}
.bar {
  padding-left: 20px;
  background-color: rgb(226, 210, 164);
  border-radius: 30px;
  color: #333;
  margin-bottom: 10px;
  font-size: 10px;
}
.bar_en {
width: 50%;
position: absolute;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
  display: flex;
  box-shadow: 0px -10px 12px 1px rgb(0 0 0 / 12%);
  font-size: 14px;
}
footer img {
  position: absolute;
}
.burger {
  position: relative;
  left: 10px;
  top: -25px;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button__line {
  display: block;
  background-color: #fff;
  margin-bottom: 3px;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

#menu-toggle:checked + .menu-button-container .menu-button__line:nth-child(1) {
  margin-top: 5px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button__line:nth-child(2) {
  display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button__line:nth-child(3) {
  margin-top: -7px;
  transform: rotate(-405deg);
}

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
    footer {
      flex-direction: column;
    }
    footer a {
      padding-bottom: 15px;
    }
    .menu-button-container {
      display: block;
    }
    .nav__list {
      flex-direction: column;
      margin-left: -30px;
    }
    .nav__list > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  @media screen and (max-width: 480px) {
    .hljs {
      width: 300px;
      font-size: 14px;
    }
  }